<div class="links">
            <p>
                <i class="ion ion-star"></i>
                <a href="/openleaf/2018/03/01/Vision-Roadmap-00f925e2-9c7b-4b21-82a5-ee21548ac9e7.html">
                 OpenLeaf 
                </a> 
                <span class="label green">Launching</span>
            </p>
            <p>
                Grow Journal
                <span class="label black">Development</span>
            </p>
            <p>
                <a href="https://uptownfunkify.macleodsawyer.com/">Uptownfunkify </a>
                <span class="label blue">Continuous</span>
            </p>
             <p>
                <a href="https://github.com/drannex42/coolgrids">Cool Grids</a>
                <span class="label blue">Continuous</span>
            </p>
            <p>
                <a href="https://charitydrops.org/">CharityDrops.org</a> 
                <span class="label red">Discontinued</span>
            </p>
            <p>
                <a href="/goodplatform/2016/12/01/GoodPlatform">GoodPlatform.org</a> 
                <span class="label red">Discontinued</span>
            </p>
        </div>